body {
  font-family: Consolas, monaco, monospace;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

section {
  margin: 20px 0px;
  height: calc(100vh - 80px);
  padding: 40px;
  background-color: #0f0f0f;
  display: flex;
  flex: 1;
}

section:first-of-type {
  margin-top: 0;
}
section:last-of-type {
  margin-bottom: 0;
}

.horizontal {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 100px;
}

.horizontal > * {
  flex: 1;
}

.js-circle {
  position: relative;
  margin: 3px;
  width: 700px;
  height: 800px;
  padding-left: 8px;
}
a {
  text-decoration: none;
  color: #454545;
}
a:hover {
  color: tomato;
}
text.legend-labels {
  font-size: 11px;
  fill: #fff;
  letter-spacing: 2px;
  pointer-events: none;
}
rect.legend-items:hover {
  opacity: 0.8;
}
h1.js-uni-title {
  font-size: 14px;
  letter-spacing: 2px;
  max-width: 250px;
  font-weight: normal;
}
h2.js-rank {
  top: -6px;
  right: 20px;
  color: #fff;
}
h3.js-circle-info {
  position: absolute;
  bottom: 5px;
  left: 8px;
}
span {
  color: #888;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.glowing {
  color: greenyellow;
  text-shadow: 0 0 4px greenyellow;
  font-weight: 500;
}

p {
  font-size: large;
}

/* chat */
.chat {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.messages {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  max-width: 250px;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  margin-right: 25%;
  background-color: #eee;
  position: relative;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: #0f0f0f;
  border-bottom-right-radius: 10px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  margin-left: 25%;
  background: linear-gradient(to bottom, #0052ea 0%, #0b93f6 100%);
  background-attachment: fixed;
  position: relative;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: linear-gradient(to bottom, #0052ea 0%, #0b93f6 100%);
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: #0f0f0f;
  border-bottom-left-radius: 10px;
}

circle {
  fill: #4a988a;
}

div.sender {
  display: flex;
  align-items: center;
}

div.sender > span {
  margin-left: 5px;
}
div.sender > img {
  width: 25px;
  height: 25px;
}

.bold {
  font-weight: bold;
}

.typewriter {
  flex: 1;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#slider-content {
  height: 50px;
  margin-top: 20px;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.circle-data {
  display: flex;
  align-items: center;
}

.circle-info {
  margin-left: 5px;
}
